.modal-overlay {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 15;
	background: rgba(0, 0, 0, 0.12);
	opacity: 0;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	-o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.modal-overlay.active {
	opacity: 1;
	visibility: visible;
}
.modal {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	margin: 0 auto;
	background-color: #fff;
	color: #000;
	padding: 100px 340px;
	border-radius: 3px;
	opacity: 0;
	width: 80%;
	z-index: 14;
	visibility: hidden;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	-o-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.modal .close-modal {
	position: absolute;
	cursor: pointer;
	top: 5px;
	right: 15px;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	-o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	transition-delay: 0s, 0s, 0s;
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.modal .close-modal img {
	width: 17px;
	height: 17px;
}
.modal .modal-content {
	width: 100%;
	height: 100%;
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	-o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.modal.active {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.modal.active .modal-content {
	opacity: 1;
}
.modal.active .close-modal {
	-webkit-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
	opacity: 1;
}

@media screen and (max-width: 576px){
	.modal {
		top: 0;
		left: 0;
		-webkit-overflow-scrolling: touch;
		border-radius: 0;
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
		z-index: 101;
		margin: 0 auto;
		width: 335px;
		padding: 30px 45px;
		box-shadow: 0px 39px 65px -10px rgba(0, 0, 0, 0.13);
		border-radius: 15px;
	}
}