/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
	font-family: 'Montserrat-bold'; 
	src: url('../fonts/montserrat-bold.ttf') format('truetype'); 
	font-style: normal; 
	font-weight: normal; 
} 
@font-face {
	font-family: 'Montserrat-Extrabold'; 
	src: url('../fonts/montserrat-Extrabold.ttf') format('truetype'); 
	font-style: normal; 
	font-weight: normal; 
} 
body {
	margin: 0;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Circe'; 
	color: #000;
}
html, body {
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
p {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
ul {
	padding: 0;
}
h1,h2,h3,h4,h5,h6,h7 {
	margin: 0;
}
input::-ms-clear {
	display: none;
}
input:focus {
	outline: none !important;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
button:active, button:focus {
	outline: none;
}
button::-moz-focus-inner {
	border: 0;
}
button {
	cursor: pointer;
	border: 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #06345c;
	opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #06345c;
	opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #06345c;
	opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
	color: #06345c;
	opacity: 1;
}
@media (max-width: 576px) {
	.mobile-menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.logo-link {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.logo-link img {
		display: block;
		margin-right: 8px;
	}
	.content-logo {
		display: block;
	}
	.content-logo__title {
		display: block;
		font-family: 'Roboto-Medium';
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		color: #EB5757;
	}
	.content-logo__text {
		display: block;
		font-family: 'Roboto-Light';
		font-style: normal;
		font-weight: 300;
		font-size: 9px;
		line-height: 11px;
		color: #EB5757;
	}
	.main-flex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.flex-item {
		margin-bottom: 10px;
		-webkit-box-shadow: 0px 10px 19px -4px rgba(0, 0, 0, 0.16);
		box-shadow: 0px 10px 19px -4px rgba(0, 0, 0, 0.16);
		border-radius: 15px;
		position: relative;
		min-height: 133px;
		border-radius: 15px;
	}
	.flex-item-card {

	}
	.flex-item-1, .flex-item-4, .flex-item-5 {
		width: calc(60% - 10px);
	}
	.flex-item-2, .flex-item-3, .flex-item-6 {
		width: 40%;
	}
	.flex-item-1, .flex-item-3, .flex-item-5 {
		margin-right: 10px;
	}
	.flex-item-1 {
		background: url(../image/bg1.png) top 60px left 0px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.flex-item-2 {
		background: url(../image/bg2.png) top 60px left 0px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.flex-item-3 {
		background: url(../image/bg3.png) top 70px left 0px;
		background-size: contain;
		background-repeat: no-repeat;
		z-index: 2;
		position: relative;
	}
	.flex-item-4 {
		background: url(../image/bg4.png) top 70px left 0px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.flex-item-5 {
		background: url(../image/bg5.png) top 40px left 0px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.flex-item-6 {
		background: url(../image/bg6.png) top 40px left 0px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.flex-item-1:hover {
		background: #D4CDFF;
		transition: background .5s linear;
	}
	.flex-item-2:hover {
		background: #FFC6B5;
		transition: background .5s linear;
	}
	.flex-item-3:hover {
		background: #BBFFD6;
		transition: background .5s linear;
	}
	.flex-item-4:hover {
		background: #B5E0FF;
		transition: background .5s linear;
	}
	.flex-item-5:hover {
		background: #BBC2FF;
		transition: background .5s linear;
	}
	.flex-item-6:hover {
		background: #FFF8BB;
		transition: background .5s linear;
	}
	.flex-item-1 img {
		position: absolute;
		right: 10px;
		bottom: 0;
	}
	.flex-item-2 img {
		position: absolute;
		right: 10px;
		bottom: 0;
	}
	.flex-item-3 img {
		position: absolute;
		right: 0;
		bottom: 0;
	}
	.flex-item-4 img {
		position: absolute;
		right: 0;
		bottom: 0;
	}
	.flex-item-5 img {
		position: absolute;
		right: 0;
		bottom: 0;
		border-radius: 15px;
	}
	.flex-item-6 img {
		position: absolute;
		right: 0;
		bottom: 0;
		border-radius: 15px;
	}
	.flex-item-card-link {
		display: block;
	}
	.flex-item-card__title {
		font-family: 'Roboto-Medium';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #404040;
		padding: 16px 0 0 20px;
	}
	.title-h1 {
		margin-bottom: 30px;
		font-family: 'Montserrat-Extrabold'; 
		font-style: normal;
		font-weight: 800;
		font-size: 25px;
		line-height: 30px;
		color: #404040;
	}
	.flex-item-card__text {
		font-family: 'Roboto-Light';
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: 14px;
		color: #404040;
		padding: 16px 0 0 20px;
	}
	.title-h2 {
		font-family: 'Roboto-Bold';
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 23px;
		color: #404040;
		margin: 30px 0 0 0;
	}
	.special-slider {

	}
	.special-slider .item {
		
	}
	.special-slider .owl-nav.disabled + .owl-dots {
		margin-top: 0;
		top: -30px;
		position: relative;
	}
	.special-slider .owl-stage-outer {
		padding: 0 15px 25px 15px;
		height: 240px !important;
	}
	.special-slider .owl-item {
		padding-top: 25px;
	}
	.special-slider .owl-dots .owl-dot span {
		background: #EB5757;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		margin: 3px;
	}
	.owl-theme .owl-dots .owl-dot.active span {
		border-radius: 38px;
		width: 19px;
		background: #EB5757;
	}
	.special-card {
		position: relative;
		min-height: 162px;
		background: #FFFFFF;
		-webkit-box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.08);
		box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.08);
		border-radius: 15px;
		padding: 0 0 0 23px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.special-card__title {
		font-family: 'Roboto-Bold';
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		line-height: 18px;
		letter-spacing: 0.2px;
		color: #EB5757;
		margin-bottom: 10px;
	}
	.special-card__text {
		font-family: 'Roboto-Light';
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0.2px;
		color: #404040 !important;
	}
	.special-slider .link {
		color: #404040;
	}
	.special-card__text b {
		font-weight: bold;
	}
	.special-card__image {
		position: absolute;
		bottom: 0;
		right: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.special-card__image img {
		height: 100%;
		-o-object-fit: contain;
		object-fit: contain;
	}
	.slide-1 .special-card__image {
		right: 30px;
	}
	.slide-3 .special-card__image {
		right: -25px;
	}
	.slide-3 .special-card__image img {
		height: 154px;
	}
	.navbar-list {
		margin: 0;
	}
	.search {
		height: 40px;
		width: 100%;
		cursor: pointer;
	}
	.open-search .search__icon {
		display: none;
	}
	.searh img {
		width: 24px;
		height: 24px;
		-o-object-fit: scale-down;
		object-fit: scale-down;
	}
	.open-search .search-block {
		transform: translateX(1000px);
	}
	.search-block {
		position: relative;
		left: -1000px;
		transition: transform 0.5s;
	}
	.open-search {
		display: block;
	}
	.btn-search {
		background: transparent;
		outline: none;
	}
	.btn-search img {
		position: relative;
		right: 30px;
		top: -9px;
	}
	.search__input {
		border: none;
		outline: none;
		padding: 10px 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		font-family: 'Roboto-Regular';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #404040;
		width: 80%;
		top: -9px;
		position: relative;
	}
	.search__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		font-size: 14px;
		line-height: 16px;
		color: #404040;
		opacity: 1;
		font-family: 'Roboto-Regular';
	}
	.search__input::-moz-placeholder { /* Firefox 19+ */
		font-size: 14px;
		line-height: 16px;
		color: #404040;
		opacity: 1;
		font-family: 'Roboto-Regular';
	}
	.search__input:-ms-input-placeholder { /* IE 10+ */
		font-size: 14px;
		line-height: 16px;
		color: #404040;
		opacity: 1;
		font-family: 'Roboto-Regular';
	}
	.search__input:-moz-placeholder { /* Firefox 18- */
		font-size: 14px;
		line-height: 16px;
		color: #404040;
		opacity: 1;
		font-family: 'Roboto-Regular';
	}
	.search-form {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.phone {
		margin-top: 55px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		padding: 16px 0;
	}
	.phone-link {
		font-family: 'Roboto-Regular';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #404040;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.icon-phone {
		margin-right: 15px;
	}
	.navbar-list-item {
		padding: 16px 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		border-top: 1px solid rgba(0, 0, 0, 0.05);
	}
	.navbar-list-item:nth-child(1) {
		border-top: 0;
	}
	.navbar-list-item:last-child {
		border-bottom: 0;
	}
	.navbar-list-item-link {
		font-family: 'Roboto-Regular';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #404040;
	}
	.hamburger-menu-list {
		padding-top: 25px;
	}
	.lang {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin-top: 20px;
	}
	.lang-link {
		padding: 10px;
		font-family: 'Roboto-Regular';
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 18px;
		color: #FFFFFF;
		background: #EB5757;
		-webkit-box-shadow: 0px 6px 11px rgba(0, 0, 0, 0.17);
		box-shadow: 0px 6px 11px rgba(0, 0, 0, 0.17);
		border-radius: 8px;
		margin-right: 15px;
	}
	.location {
		background: #EB5757;
		-webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.12);
		box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.12);
		border-radius: 11px;
		font-family: 'Roboto-Regular';
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 18px;
		color: #FFFFFF;
		padding: 13px 18px;
		margin-top: 25px;
	}
	.location span {
		margin-bottom: 8px;
		display: block;
	}
	.pb50 {
		padding-bottom: 50px;
	}
	.page .title-h1 {
		color: #363636;
		font-family: 'Montserrat-bold'; 
		margin-bottom: 25px;
	}
	.back {
		margin-bottom: 20px;
		display: block;
	}
	.services-flex-item {
		background: #FFFFFF;
		-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.19);
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.19);
		border-radius: 15px;
		min-height: 68px;
		margin-bottom: 15px;
	}
	.services-item-link {
		font-family: 'Roboto-Medium';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #363636;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding-left: 30px;
	}
	.services-flex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.services-flex-item {
		width: 100%;
	}
	.services-flex-item-1 {
		width: 40%;
	}
	.services-flex-item-1 a {
		padding-left: 0;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.services-flex-item-2 a {
		padding-left: 0;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.services-flex-item-2 {
		width: calc(60% - 15px);
		margin-left: 15px;
	}
	.connection {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-top: 30px;
	}
	.connection .flex-item {
		width: 100%;
		min-height: 106px;
	}
	.connection .flex-item-card__title {
		padding: 15px 0 0 15px;
	}
	.connection .flex-item-1 img {
		width: 73px;
		height: 76px;
	}
	.adults {
		margin-bottom: 10px;
	}
	.adults .services-flex-item-1, .adults .services-flex-item-2 {
		width: 100%;
		margin-left: 0;
	}
	.adults .services-flex-item a {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding-left: 0;
	}
	.tab-flex-item {
		position: relative;
		font-family: 'Roboto-Regular';
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 18px;
		color: #404040;
		text-align: center;
		cursor: pointer;
		white-space: nowrap;
		margin-right: 10px;
	}
	.price-list-item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
		padding: 16px 0 14px 0;
		font-family: 'Roboto-Regular';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #000000;
	}
	.price-list-item__name {
		width: 70%;
	}
	.total-price, .total-price-sale {
		margin-top: 40px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		font-family: 'Roboto-Medium';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #404040;
		padding-bottom: 12px;
		border-bottom: 1px solid #404040;
	}
	.total-price-sale {
		border: none;
		padding-bottom: 30px;
		padding-top: 12px;
		margin-top: 0;
	}
	.tab {
		padding: 10px 22px;
		font-family: 'Roboto-Medium';
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		color: #EB5757;
		border: 1px solid #EB5757;
		-webkit-filter: drop-shadow(0px 3px 11px rgba(0, 0, 0, 0.13));
		filter: drop-shadow(0px 3px 11px rgba(0, 0, 0, 0.13));
		border-radius: 10px;
	}
	.tab-scroll .active {
		font-family: 'Roboto-Bold';
		font-style: normal;
		font-size: 15px;
		line-height: 18px;
		color: #FFFFFF;
		background: #EB5757;
		-webkit-box-shadow: 0px 3px 11px rgba(228, 57, 73, 0.42);
		box-shadow: 0px 3px 11px rgba(228, 57, 73, 0.42);
		border-radius: 10px;
	}
	.tab-scroll2 {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: 90px;
		margin-left: 15px;
	}
	.wm .title-h1 {
		margin-bottom: 0;
	}
	.tab-first {
		position: relative;
		top: -25px;
	}
	.o-nas .title-h1 {
		font-family: 'Montserrat-bold';
		font-weight: 100;
	}
	.o-nas__image {
		width: 100%;
		margin-bottom: 30px;
	}
	.o-nas__image img {
		width: 100%;
		-webkit-box-shadow: 0px 16px 20px -7px rgba(0, 0, 0, 0.19);
		box-shadow: 0px 16px 20px -7px rgba(0, 0, 0, 0.19);
		border-radius: 10px;
	}
	.o-nas__title {
		font-family: 'Montserrat-bold'; 
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 30px;
		color: #404040;
		margin-bottom: 13px;
	}
	.o-nas__text {
		font-family: 'Roboto-Regular';
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 26px;
		color: #404040;
		margin-bottom: 30px;
	}
	.o-nas__text-2 {
		font-family: 'Roboto-Regular';
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
		color: #404040;
	}
	.o-nas__text-2 span {
		font-family: 'Roboto-Bold';
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 26px;
		color: #404040;
	}
	.o-nas__list {
		font-family: 'Roboto-Regular';
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 20px;
		color: #404040;
		margin: 18px 0 30px 0;
	}
	.o-nas__list-item {
		position: relative;
		margin-left: 15px;
		margin-bottom: 18px;
	}
	.o-nas__list-item:before {
		content: "";
		position: absolute;
		left: -15px;
		top: 5px;
		width: 6px;
		height: 6px;
		background: #EB5757;
		border-radius: 50%;
	}
	.image-o-nas {
		position: relative;
	}
	.o-nax__image-abs {
		position: absolute;
		right: -20px;
		bottom: 100px;
	}
	.warning {
		font-family: 'Roboto-Regular';
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 16px;
		color: #000000;
		margin-top: 12px;
	}
	.warning span {
		color: #EB5757;
	}
	.tab-block {
		margin-bottom: 20px;
	}
	.analysis-card {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 0 25px;
		background: #FFFFFF;
		margin-bottom: 12px;
		-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.19);
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.19);
		border-radius: 15px;
		min-height: 68px;
		position: relative;
	}
	.analysis-card__name {
		width: 70%;
		font-family: 'Roboto-Regular';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #404040;
		padding: 13px 0 13px 0;
	}
	.analysis-card__price {
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 20px;
		color: #404040;
		padding: 13px 0 13px 20px;
		border-left: 1px #000 solid;
	}
	.pin__image {
		background: #FFFFFF;
		-webkit-box-shadow: 0px 0px 4px rgba(228, 57, 73, 0.48);
		box-shadow: 0px 0px 4px rgba(228, 57, 73, 0.48);
		border-radius: 50%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		position: absolute;
		right: 0;
		top: -20px;
		width: 25px;
		height: 25px;
	}
	.pin__image img {
		width: 10px;
		height: 12px;
		-o-object-fit: cover;
		object-fit: cover;
	}
	.address__input {
		background: #F6F6F6;
		border-radius: 10px;
		padding: 12px 0;
		width: 100%;
		border: none;
		outline: none;
		text-align: center;
		font-family: 'Roboto-Regular';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
		color: #000000;
		margin-bottom: 10px;
	}
	.address__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #363636;
		opacity: 0.7;
		font-family: 'Roboto-Regular';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
	}
	.address__input::-moz-placeholder { /* Firefox 19+ */
		color: #363636;
		opacity: 0.7;
		font-family: 'Roboto-Regular';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
	}
	.address__input:-ms-input-placeholder { /* IE 10+ */
		color: #363636;
		opacity: 0.7;
		font-family: 'Roboto-Regular';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
	}
	.address__input:-moz-placeholder { /* Firefox 18- */
		color: #363636;
		opacity: 0.7;
		font-family: 'Roboto-Regular';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
	}
	.er {
		border: 1px solid #EB5757;
		background: transparent;
	}
	.er::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #EB5757;
		opacity: 0.7;
	}
	.er::-moz-placeholder { /* Firefox 19+ */
		color: #EB5757;
		opacity: 0.7;
	}
	.er:-ms-input-placeholder { /* IE 10+ */
		color: #EB5757;
		opacity: 0.7;
	}
	.er:-moz-placeholder { /* Firefox 18- */
		color: #EB5757;
		opacity: 0.7;
	}
	.validate {
		min-height: 56px;
		font-family: 'Roboto-Regular';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
		color: #EB5757;
		text-align: center;
	}
	.btn-calc {
		outline: none;
		border: 1px solid #EB5757;
		border-radius: 10px;
		background: transparent;
		width: 100%;
		padding: 12px 0;
		font-family: 'Roboto-Medium';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #EB5757;
		position: relative;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.modal-content .active {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		background: #EB5757;
		-webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
		padding: 2px 0;
	}
	.modal-content .active img {
		display: block;
	}
	.modal-content .active span {
		display: none;
	}
	.preloader img {
		width: 29px;
		height: 29px;
		-o-object-fit: scale-down;
		object-fit: scale-down;
		display: none;
		-webkit-animation-name: rotation;
		-webkit-animation-duration: 5s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		-moz-animation-name: rotation;
		-moz-animation-duration: 5s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: linear;
		-o-animation-name: rotation;
		-o-animation-duration: 5s;
		-o-animation-iteration-count: infinite;
		-o-animation-timing-function: linear;
		animation-name: rotation;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
	@-webkit-keyframes rotation {
		0% {-webkit-transform:rotate(0deg);
			transform:rotate(0deg);}
			100% {-webkit-transform:rotate(360deg);
				transform:rotate(360deg);}
			}
			@keyframes rotation {
				0% {-webkit-transform:rotate(0deg);
					transform:rotate(0deg);}
					100% {-webkit-transform:rotate(360deg);
						transform:rotate(360deg);}
					}
					.pom-card {
						margin-bottom: 20px;
						background: #FFFFFF;
						-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.19);
						box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.19);
						border-radius: 15px;
						position: relative;
						overflow: hidden;
					}
					.pom-card span {
						display: block;
					}
					.pom-card__image {
						position: absolute;
						right: 0;
						bottom: 0;
					}
					.pom-card-link {
						display: block;
						min-height: 133px;
					}
					.pom-card__title {
						font-family: 'Roboto-Medium';
						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						line-height: 19px;
						color: #404040;
						padding: 22px 0 0 20px;
					}
					.pom-card__link {
						font-family: 'Roboto-Medium';
						font-style: normal;
						font-weight: 500;
						font-size: 14px;
						line-height: 25px;
						-webkit-text-decoration-line: underline;
						text-decoration-line: underline;
						color: #EB5757;
						padding: 45px 0 22px 20px;
					}
					.pom-card__image img {
						width: 100%;
						-o-object-fit: cover;
						object-fit: cover;
						height: 155px;
						position: relative;
						bottom: -8px;
						right: -5px;
					}
					.btn-center {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-pack: center;
						-ms-flex-pack: center;
						justify-content: center;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
					}
					.btn-pom {
						font-family: 'Roboto-Bold';
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						line-height: 25px;
						text-transform: uppercase;
						color: #FFFFFF;
						background: #EB5757;
						-webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
						box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
						border-radius: 10px;
						width: 240px;
						height: 51px;
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						-webkit-box-pack: center;
						-ms-flex-pack: center;
						justify-content: center;
						margin-top: 15px;
					}
					.pom__image {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-pack: center;
						-ms-flex-pack: center;
						justify-content: center;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						width: 100%;
					}
					.pom__image img {
						width: 100%;
						height: 85px;
						-o-object-fit: scale-down;
						object-fit: scale-down;
					}
					.pom__title {
						font-family: 'Roboto-Regular';
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 20px;
						text-align: center;
						color: #000000;
						margin: 10px 0 26px 0;
					}
					.pom_input {
						margin-bottom: 13px;
					}
					.btn-send {
						margin-top: 25px;
						border: 1px solid #EB5757;
						-webkit-box-sizing: border-box;
						box-sizing: border-box;
						border-radius: 10px;
						padding: 12px 0;
						text-align: center;
						width: 100%;
						background: transparent;
						font-family: 'Roboto-Medium';
						font-style: normal;
						font-weight: 500;
						font-size: 14px;
						line-height: 16px;
						color: #EB5757;
					}
					.btn-send:hover {
						background: #EB5757;
						color: #fff;
						-webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
						box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
					}
					.tab-scroll-type-2 {
						width: 180% !important;
					}
					.tab-scroll-type-2 .active {
						background: #EB5757;
						-webkit-box-shadow: 0px 2px 10px rgba(228, 57, 73, 0.51);
						box-shadow: 0px 2px 10px rgba(228, 57, 73, 0.51);
						border-radius: 7px;
						color: #fff !important;
					}
					.tab-scroll-type-2 .tab {
						color: #000;
						padding: 4px 9px;
						font-family: 'Roboto-Medium';
						font-style: normal;
						font-weight: 500;
						font-size: 20px;
						line-height: 23px;
						text-transform: uppercase;
						color: #000000;
						border: none;
					}
					.otdel-card {
						background: #FFFFFF;
						-webkit-box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.1);
						box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.1);
						border-radius: 15px;
						margin-bottom: 12px;
						padding: 15px;
					}
					.otdel-card__number {
						background: #EB5757;
						width: 50px;
						height: 50px;
						border-radius: 50%;
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						-webkit-box-pack: center;
						-ms-flex-pack: center;
						justify-content: center;
						font-family: 'Roboto-Medium';
						font-style: normal;
						font-weight: 500;
						font-size: 25px;
						line-height: 29px;
						text-transform: uppercase;
						color: #FFFFFF;
					}
					.otdel-card-list {
						margin: 0;
						padding-top: 12px;
					}
					.otdel-card-list-item-link {
						margin-left: 10px;
						font-family: 'Roboto-Medium';
						font-style: normal;
						font-weight: 500;
						font-size: 15px;
						line-height: 20px;
						margin-bottom: 10px;
						color: #363636;
						display: block;
					}
					.doctor-card {
						background: #FFFFFF;
						-webkit-box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.1);
						box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.1);
						border-radius: 15px;
						padding: 22px 15px 22px 26px;
						margin-bottom: 15px;
					}
					.doctor-card__link {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-pack: justify;
						-ms-flex-pack: justify;
						justify-content: space-between;
					}
					.doctor-card_first {
						width: 30%;
						margin-right: 30px;
					}
					.doctor-card_last {
						width: 70%;
						border-left: 1px #000 solid;
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-orient: vertical;
						-webkit-box-direction: normal;
						-ms-flex-direction: column;
						flex-direction: column;
						-webkit-box-pack: justify;
						-ms-flex-pack: justify;
						justify-content: space-between;
						padding: 5px 0 5px 12px;
					}
					.doctor-card__image {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						text-align: center;
						-webkit-box-pack: center;
						-ms-flex-pack: center;
						justify-content: center;
					}
					.doctor-card__image img {
						-webkit-filter: drop-shadow(0px 9px 19px rgba(0, 0, 0, 0.12));
						filter: drop-shadow(0px 9px 19px rgba(0, 0, 0, 0.12));
					}
					.doctor-card__title {
						margin-top: 15px;
						font-family: 'Roboto-Regular';
						font-style: normal;
						font-weight: normal;
						font-size: 12px;
						line-height: 14px;
						color: #000000;
						text-align: center;
					}
					.doctor-car__text {
						font-family: 'Roboto-Regular';
						font-style: normal;
						font-weight: normal;
						font-size: 12px;
						line-height: 17px;
						color: #000000;
					}
					.doctor-card__old {
						font-family: 'Roboto-Regular';
						font-style: normal;
						font-weight: normal;
						font-size: 12px;
						line-height: 17px;
						color: #000000;
					}
					.doctor-card__old b {
						font-family: 'Roboto-Bold';
						font-style: normal;
						font-weight: bold;
						font-size: 12px;
						line-height: 17px;
						color: #000000;
					}
					.otdel-text {
						padding-bottom: 50px;
					}
					.otdel-text ul {
						margin-bottom: 30px;
					}
					.load-more-btn {
						display: block;
						position: relative;
						z-index: 20;
					}
					.otdel-text ul li:nth-child(1n + 4) {
						max-height: 0;
						display: none;
						-webkit-transition: 0.1s ease-in;
						-o-transition: 0.1s ease-in;
						transition: 0.1s ease-in;
					}
					.otdel-text li {
						margin-bottom: 25px;
						font-family: 'Roboto-Regular';
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 20px;
						color: #000000;
					}
					.otdel-text .load-more-btn {
						padding: 7px 0;
						min-width: 64px;
						width: 64px;
						margin: 0 auto;
						display: block;
						background: transparent;
						cursor: pointer;
						text-align: center;
						border: 1px solid #EB5757;
						-webkit-filter: drop-shadow(0px 5px 9px rgba(0, 0, 0, 0.21));
						filter: drop-shadow(0px 5px 9px rgba(0, 0, 0, 0.21));
						border-radius: 8px;
						position: relative;
						font-family: 'Roboto-Medium';
						font-style: normal;
						font-weight: 500;
						font-size: 12px;
						line-height: 14px;
						color: #EB5757;
					}
					.unloaded:before {
						content: "";
						position: absolute;
						bottom: -20px;
						width: 16px;
						height: 9px;
						left: 23px;
						background: url(../image/down-arrow.png);
						background-size: cover !important;
					}
					.loaded:before {
						content: "";
						position: absolute;
						bottom: 40px;
						width: 16px;
						height: 9px;
						left: 23px;
						background-size: cover !important;
						background: url(../image/down-arrow.png);
						-webkit-transform: rotate(180deg);
						-ms-transform: rotate(180deg);
						transform: rotate(180deg);
					}
					.otdel-text .load-more-btn .loaded {
						display: none;
					}
					.otdel-text #load-more {
						display: none;
					}
					.otdel-text #load-more:checked ~ ul li:nth-child(1n) {
						max-height: 999px;
						display: block;
						-webkit-transition: 0.2s ease-in;
						-o-transition: 0.2s ease-in;
						transition: 0.2s ease-in;
					}
					.otdel-text #load-more:checked ~ .load-more-btn .loaded {
						display: block;
					}
					.otdel-text #load-more:checked ~ .load-more-btn .unloaded {
						display: none;
					}
					.specialist-top-flex {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						margin-bottom: 30px;
					}
					.specialist__image {
						-webkit-filter: drop-shadow(0px 6px 20px rgba(0, 0, 0, 0.2));
						filter: drop-shadow(0px 6px 20px rgba(0, 0, 0, 0.2));
						width: 112px;
						height: 112px;
						border-radius: 50%;
						margin-right: 15px;
					}
					.specialist__image img {
						width: 100%;
						-o-object-fit: scale-down;
						object-fit: scale-down;
					}
					.specialist__name {
						font-family: 'Roboto-Medium';
						font-style: normal;
						font-weight: 500;
						font-size: 15px;
						line-height: 18px;
						color: #000000;
						margin-bottom: 8px;
					}
					.specialist__old {
						font-family: 'Roboto-Medium';
						font-style: normal;
						font-weight: 500;
						font-size: 12px;
						line-height: 17px;
						color: #000000;
					}
					.content-list-item {
						margin-bottom: 20px;
						font-family: 'Roboto-Regular';
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 19px;
						color: #000000;
					}
					.content-list {
						min-height: 230px;
					}
					.call-back {
						border: 1px solid #EB5757;
						-webkit-filter: drop-shadow(0px 6px 20px rgba(0, 0, 0, 0.2));
						filter: drop-shadow(0px 6px 20px rgba(0, 0, 0, 0.2));
						border-radius: 15px;
						padding: 17px 0;
						text-align: center;
						font-family: 'Roboto-Medium';
						font-style: normal;
						font-weight: 500;
						font-size: 15px;
						line-height: 18px;
						color: #EB5757;
					}
					.rating-result {
						width: 265px;
						margin: 8px 0;
					}
					.rating-result span {
						padding: 0;
						margin: 0 3px;
						background: url(../image/star.png);
						width: 16px;
						height: 15px;
						display: inline-block;
						background-size: cover !important;
					}
					.rating-result > span.active {
						background: url(../image/active-star.png);
						width: 16px;
						height: 15px;
						display: inline-block;
						background-size: cover !important;
					}
					.rating-area {
						overflow: hidden;
						margin-left: 15px;
					}
					.rating-area:not(:checked) > input {
						display: none;
					}
					.rating-area:not(:checked) > label {
						float: right;
						width: 42px;
						padding: 0;
						cursor: pointer;
						font-size: 32px;
						line-height: 32px;
						color: lightgrey;
						text-shadow: 1px 1px #bbb;
					}
					.rating-area:not(:checked) > label {
						background: url(../image/star.png);
						width: 16px;
						height: 15px;
						display: inline-block;
						padding: 0;
						margin: 0 3px;
						background-size: cover !important;
					}
					.rating-area > input:checked ~ label {
						background: url(../image/active-star.png);
						width: 16px;
						height: 15px;
						display: inline-block;
						background-size: cover !important;
					}
					.rate-area > label:active {
						position: relative;
					}
					.yes-feedback {
						display: 	block;
					}
					.yes-feedback-block-card {
						margin-bottom: 25px;
					}
					.yes-feedback__title {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-pack: justify;
						-ms-flex-pack: justify;
						justify-content: space-between;
						font-family: 'Roboto-Medium';
						font-style: normal;
						font-weight: 500;
						font-size: 15px;
						line-height: 18px;
						color: #000000;
					}
					.yes-feedback__title span {
						font-size: 10px;
						line-height: 18px;
					}
					.feed-btn {
						border: 1px solid #EB5757;
						-webkit-filter: drop-shadow(0px 6px 20px rgba(0, 0, 0, 0.2));
						filter: drop-shadow(0px 6px 20px rgba(0, 0, 0, 0.2));
						background: transparent;
						border-radius: 15px;
						padding: 17px 0;
						text-align: center;
						font-family: 'Roboto-Medium';
						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						line-height: 18px;
						color: #EB5757;
						margin-top: 30px;
						outline: none;
						width: 100%;
					}
					.no-feedback {
						display: none;
					}
					.no-feedback-block {
						text-align: center;
						padding: 40px 0 0 0;
					}
					.no-feedback__text {
						font-family: 'Roboto-Regular';
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 18px;
						color: #000000;
						margin: 23px 0 80px 0;
					}
					.form-feedback {
						display: none;
					}
					.form-feedback input {
						text-align: left;
						padding-left: 15px;
					}
					.form-feedback textarea {
						text-align: left;
						padding-left: 15px;
					}
					.input-area {
						height: 141px;
						resize: none;
					}
					.rating-text {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						margin: 18px 0 24px 0;
						font-family: 'Roboto-Regular';
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 18px;
						color: #5B5B5B;
					}
					.show {
						display: block;
					}
					.yes-feedback__text {
						font-family: 'Roboto-Regular';
						font-style: normal;
						font-weight: normal;
						font-size: 12px;
						line-height: 18px;
						color: #000000;
					}
					.record__title {
						font-family: 'Roboto-Medium';
						font-style: normal;
						font-weight: 500;
						font-size: 20px;
						line-height: 23px;
						color: #404040;
						margin-bottom: 41px;
					}
					.btn-record {
						background: transparent;
						outline: none;
						border: 1px solid #EB5757;
						border-radius: 10px;
						font-family: 'Roboto-Medium';
						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						line-height: 19px;
						color: #EB5757;
						padding: 12px 0;
						width: 100%;
						text-align: center;
						margin-top: 60px;
					}
					.good__title {
						font-family: 'Roboto-Medium';
						font-style: normal;
						font-weight: 500;
						font-size: 19px;
						line-height: 22px;
						color: #404040;
						margin: 20px 0;
					}
					.good__text {
						font-family: 'Roboto-Regular';
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 16px;
						text-align: center;
						color: #404040;
					}
					.question__title {
						font-family: 'Roboto-Bold';
						font-style: normal;
						font-weight: bold;
						font-size: 24px;
						line-height: 18px;
						margin-bottom: 30px;
						color: #000000;
					}
					.question input {
						text-align: left;
						padding: 7px 0 7px 15px;
						margin-bottom: 15px;
					}
					.question textarea {
						text-align: left;
						padding: 7px 0 7px 15px;
					}
					.spec .tab-flex-item {
						font-size: 14px;
						line-height: 16px;
					}
					form button:hover {
						background: #EB5757;
						color: #fff;
					}
					.spesh-page {
						margin-bottom: 25px;
					}
					.spesh-page a {
						color: #000;
					}
					.speshial-text {
						font-family: 'Roboto-Regular';
						font-style: normal;
						font-weight: normal;
						font-size: 15px;
						line-height: 25px;
						color: #000000;
					}
					.speshial-list-item {
						position: relative;
						margin-left: 13px;
						margin-bottom: 15px;
						font-family: 'Roboto-Regular';
						font-style: normal;
						font-weight: normal;
						font-size: 15px;
						line-height: 25px;
						color: #000000;
					}
					.speshial-list-item:before {
						content: "";
						position: absolute;
						left: -13px;
						top: 10px;
						width: 5px;
						height: 5px;
						border-radius: 50%;
						background: #EB5757;
					}
					.link {

					}
				}
